*{
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  .tours {
    text-align: center;
  }
  
  .tour {
    width: 420px;
    height: 450px;
  }

  .tour-icon img {
    width: 85%;
    height: 85%;
  }
  
  .top-wrapper h1 {
    font-size: 32px;
  }
  
  .heading h2 {
    font-size: 20px;
  }

  .header-right {
    display:none;
  }
  
  .menu-icon {
    display:block;
  }

  footer {
    text-align: center;
  }

  .footer-left {
    text-align: left;
    width: 65%;
  }

  .btn-hub {
    display: flex;
    width: 40%;
  }

  .logof {
    width: 125px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
  }

  .fa {
    width: auto;
    height: auto;
  }

}

/* Untuk Smartphone */
@media (max-width: 670px) {
 
  .btn {
    width: 100%;
  }
  
  .header-right {
    display:none;
  }
  
  .menu-icon {
    display:block;
  }

  .facebook,
  .twitter,
  .youtube,
  .instagram,
  .signup {
    background-color: white;
    margin: 5px;
    z-index: 2;
  }
  
  .top-wrapper {
    text-align: left;
  }
  
  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }
  
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }

  .tour {
    width: 100%;
  }

  .tour-wrapper h3{
    padding-top: 10px;
    width: auto;
  }

  .tour-wrapper p {
    width: 100%;
  }  

  footer {
    text-align:left;
    width: 100%;
    height: 130px;
  }

  .footer-left {
    width: 65%;
  }

  .btn-hub {
    display: flex;
    width: 40%;
  }

  .logof {
    width: 125px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
  }

  .fa {
    width: auto;
    height: auto;
  }
}